html, body {
    background: url("../img/mission-assets/helicopterguy.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    font-family: 'Fjalla One', sans-serif;
}

/* .border_helper, .section {
border: 1px solid white;
} */

#content-wrapper {
    margin: 0 auto;
}

#content-wrapper, #top {
    position: relative;
    width: 1400px;
    height: 830px;
}

#content-wrapper, #middle {
    position: relative;
    width: 1400px;
    height: 830px;
}

#content-wrapper, #bottom {
    position: relative;
    width: 1400px;
    height: 830px;
}

#synopsis {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 340px;
    right: 150px;
    color: white;
    background-color: black;
    padding: 30px;
}

#poster {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 100px 200px;
}

h1 {
    position: relative;
    text-align: center;
    color: white;
}

h2 {
    position: relative;
    text-align: center;
    color: black;
}

h3 {
    position: relative;
    text-align: center;
    color: black;
}

.vid-container {
    width:1280px;
    margin: 50px auto;
}

#title-container {
    position: relative;
    font-size: 40px;
    margin: 150px auto;
    background-color: black;
    width: 1400px;
    height: 200px;
}

#title {
    border: 1px solid black;
    background-color: black;
    position: relative;
    height: 200px;
}

#characters {
    position: relative;
    font-size: 25px;
    margin: 0 auto;
}

#date {
    position: relative;
    font-size: 30px;
    margin: 70px auto;
}

#link {
    text-align: center;
}

#rating {
    width: 150px;
    height: 50px;
    margin: 160px auto;
}




